<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>しりとりアプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>しりとりアプリ</h1>
    <h2>{{num}}回目</h2>
    <!-- テキスト入力フォーム -->
    <form method="POST">
        <input type="text" name="text" placeholder="テキストを入力">
        <button type="submit">送信</button>
    </form>

    <!-- 吹き出しの表示 -->
    <div>
        {% for item in shiritori_list[-2:] %}
            <div class="balloon {{ 'right' if loop.index0 == 0 else 'left' }}">
                {{ item }}
            </div>
        {% endfor %}
    </div>

</body>
</html>