<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>しりとりアプリスタート画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- 概要を説明 -->
    <section class="section2">
        <h1 class="centered-text">平仮名しりとりアプリ</h1>
        <h2 class="centered-text">「まもる」くんとしりとりをしよう！</h2>
        <h2 class="centered-text">「まもる」くんは５歳なので、平仮名で送信してね！</h2>
        
        <!-- スタートボタン -->
        <form method="POST" class="centered-form">
            <button class="big-button" type="submit">スタート</button>
        </form>
    </section>

    <!-- ルール説明 -->
    <section class="section1">
        <h2 class="centered-text">ルール</h2>
        <h3 class="centered-text">同じ言葉は２回使わない！</h3>
        <h3 class="centered-text">最後が「ん」の言葉を使わない！</h3>
    </section>

    <!-- データベースに記録した内容を記述 -->
    <section class="section1">
        <h2 class="centered-text">スコアボード</h2>
        <h3 class="centered-text">名前: 回数</h3>
        <ul class="centered-ul">
            {% for player in players %}
                <li>{{ player.name }}: {{ player.count }}回</li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
